// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 350px 0;
  overflow-x: hidden;
  height: calc(100vh - 58px);
}

.btn-index-search {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid rgb(161, 161, 161);
  color: rgb(100, 100, 100);
  border-radius: 50px;
  padding: 10px 20px;
  &:hover {
    border: 1px solid white;
    color: white;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 50px;
}

#brand {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 44px;
}

#catch {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: light;
  font-size: 24px;
}

.cl-image img {
  object-fit: cover;
  height: 80vh;
}
