// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 370px 0;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.btn-index-search {
  background-color: transparent;
  border: 1px solid rgb(161, 161, 161);
  color: rgb(161, 161, 161);
  border-radius: 50px;
  padding: 10px 20px;
  &:hover {
    border: 1px solid white;
    color: white;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 50px;
}

