<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center my-5">My bookings list</h1>
      <ul>
        <% @bookings.each do |booking| %>
          <li>
            <%= link_to booking_path(booking) do %>
              Booking n°<%= booking.id %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
