.btn-new-flat {
  background-color: $blue;
  border: 1px solid $blue;
  color: $light-gray;
  margin-top: 30px;
  width: 100%;
  border-radius: 50px;
  transition: 0.2;
  &:hover {
    background-color: $light-gray;
    border: 1px solid $blue;
    color: $blue;
  }
}

.raleway-bold {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 44px;
}

.raleway-light {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: light;
  font-size: 24px;
}
