.red-btn {
  background-color: #EF5350;
  border: 1px solid #EF5350;
  color: white!important;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
  &:hover {
    background-color: white;
    border: 1px solid #EF5350;
    color: #EF5350!important;
  }
}
