.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.add-bike-btn {
  margin-right: 50px;
  background-color: #EF5350;
  border: 1px solid #EF5350;
  color: white!important;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
  &:hover {
    background-color: white;
    border: 1px solid #EF5350;
    color: #EF5350!important;
  }
}
