.red-btn {
  background-color: #EA362B;
  border: 1px solid #EA362B;
  color: white!important;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
  &:hover {
    background-color: white;
    border: 1px solid #EA362B;
    color: #EA362B!important;
  }
}
